<br />
<h5 class="title-header"> ADD TEACHER</h5>

<div class="container pt-3">
    <form action="">
        <div class="container">

            <div class="row d-flex justify-content-around mx-auto w-100">
                <!-- for table starts here -->
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row d-flex justify-content-around w-100 mx-auto">
                        <div class="col">
                            <p class="mb-2 text-left main-bg-2">Drafts</p>
                        </div>
                    </div>
                    <div class="example-container">
                        <table mat-table [dataSource]="dataSource">

                            <!-- draftDate Column -->
                            <ng-container matColumnDef="draftDate">
                                <th mat-header-cell *matHeaderCellDef> Draft Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.draftDate}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- noMissingKey Column -->
                            <ng-container matColumnDef="noMissingKey">
                                <th mat-header-cell *matHeaderCellDef> No. Missing Key Fields </th>
                                <td mat-cell *matCellDef="let element"> {{element.noMissingKey}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
                <!-- for table ends here -->
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row d-flex justify-content-around w-100 mx-auto">
                        <div class="col">
                            <p class="mb-3 text-left main-bg-2">Teacher Details</p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around w-100 mx-auto">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Name<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex.Sudhakar" value="" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Phone Number<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. 8989765456" value="" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around w-100 mx-auto mt-3">
                        <div class="col">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Email address<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. name@example.com" value="" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around w-100 mx-auto mt-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Date of Birth<sup class="text-danger">*</sup></mat-label>
                                <input matInput type="date" placeholder="Ex. 06-01-2021" value="" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Joining Date<sup class="text-danger">*</sup></mat-label>
                                <input matInput type="date" placeholder="Ex. 06-01-2021" value="" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around w-100 mx-auto mt-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Subject<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex.Hindi" value="" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Teaching Since<sup class="text-danger">*</sup></mat-label>
                                <input matInput type="date" placeholder="Ex. 06-01-2021" value="" />
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row d-flex justify-content-around w-100 mx-auto mt-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Teacher User Id<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex.EXOWL123" value="" />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Qualification <sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. MBBS, MD" value="" />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around w-100 mx-auto mt-3">
                        <div class="col">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Experience</mat-label>
                                <textarea matInput
                                    placeholder="Ex. Having 2 years of experience in teaching"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row w-75 float-right d-flex justify-content-right mt-3">
                <div class="col-lg-8 float-right">
                </div>
                <div class="col-lg-2 float-right">
                    <!-- <button type="button" mat-raised-button class="main-bg">SAVE</button> -->
                </div>
                <div class="col-lg-2 float-right">
                    <button type="button" mat-raised-button color="primary" class="text-light">ADD</button>
                </div>
            </div>
        </div>
    </form>
</div>