.field-full-width {
    width        : 100%;
    // margin-top: -8px;
    font-size    : 12px;
}

.main-bg {
    color: var(--main-font-3-color);
}

.main-bg-2 {
    color: var(--main-font-3-color);
}

.title-header {
    text-align: center;
    color     : var(--main-font-3-color);
}

button {
    width: 5rem;
}



// for upload
// .upload-photo {
//     border-radius   : 4px;
//     padding         : 5px 40px 5px 40px;
//     background-color: var(--main-bg-2-color);
//     color           : var(--main-font-1-color);
//     outline         : 0;
//     border:solid 2px;
//     border-color: var(--main-font-3-color) !important;

// }

.profile-holder:hover {
    cursor: pointer;
}

.btns {
    width: 13rem;

}