<div class="container-fluid mt-2 p-0">
    <div class=" ">
        <div class="card-title mb-3">
            <h5 class="text-center main-bg pt-2 mt-1 mb-5">EDIT KEYS</h5>
        </div>
        <!-- <mat-divider class="mx-5"></mat-divider> -->
        <form action="" class="form-group customhover" [formGroup]="addKeysForm">
            <div class="row d-flex justify-content-around mt-4">
                <div class="col-lg-8 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Type Of Keys<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. Select Type Of Key" value="" formControlName="typeOfKey" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addKeysForm.get('typeOfKey') && addKeysForm.get('typeOfKey').touched && addKeysForm.get('typeOfKey').invalid">
                                Please select this field</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Description of the key <sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. English" value="" formControlName="keyDescription" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="addKeysForm.get('keyDescription') && addKeysForm.get('keyDescription').touched && addKeysForm.get('keyDescription').invalid">
                                Key Description is required</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-6 mt-4">
                            <mat-radio-group aria-label="Select an option" class="ml-4" color="primary">
                                <mat-radio-button value="1">Activate</mat-radio-button>
                                <mat-radio-button value="2">Deactivate</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label labelCust">Image For the Key</label>
                                    <mat-card class="customCardForKey">
                                        <img src="../../../../../../assets/imgs/key.png" class="img-fluid keyImg">
                                    </mat-card>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <h6 class="text-left"><span class="text-danger">*</span> Mandatory Field </h6> -->
                </div>
            </div>
            <div class="row mx-auto w-75">
                <div class="col">
                    <div class="text-center mt-5 ml-5 float-right">
                        <button type="button" class="text-light btns ml-3" mat-raised-button color="primary">
                            Save
                        </button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>