.title-header {
    text-align: center;
    color     : var(--main-font-3-color);
}


// table css starts here

.example-container {
    // height  : 300px;
    overflow: auto;
}

table th {
    color          : var(--main-font-3-color);
    text-align     : center;
    // border: 1px solid;
    // border-color: var(--main-font-2-color);
}

table {
    width          : 100%;
    text-align     : center;
    // border: 1px solid;
    // border-color: var(--main-font-2-color);
}

.toggle {
    height          : 90px !important;
    width           : 40px !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

//   table css ends here

// for chips start here
.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    // color: yellow !important;
}

.example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//   for chips ends here

button {
    width         : 5rem;
    // margin-left: -20px;
}