<div class="container-fluid mt-2 p-0">
    <div class=" ">
        <div class="card-title">
            <h4 class="text-center main-bg pt-2 mt-1">- Teacher Details -</h4>
        </div>
        <!-- <mat-divider class="mx-5"></mat-divider> -->
        <form action="" class="form-group customhover mt-3" [formGroup]="addTeacherDetailsForm"
            (ngSubmit)="addTeacherDetailsFormSubmit()">
            <div class="row d-flex justify-content-around mt-4">
                <div class="col-lg-8 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Name<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex.Sudhakar" value="" formControlName="name" />
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('name') && addTeacherDetailsForm.get('name').touched && addTeacherDetailsForm.get('name').invalid">
                                Please enter this field</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Phone Number <sup class="text-danger">*</sup></mat-label>
                                <span matPrefix>+91 &nbsp;</span>
                                <input type="tel" matInput placeholder="555-555-1234" formControlName="phoneNumber">
                                <mat-icon matSuffix color="accent">phone</mat-icon>
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('phoneNumber') && addTeacherDetailsForm.get('phoneNumber').touched && addTeacherDetailsForm.get('phoneNumber').invalid">
                                Please enter a valid phone number</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Date Of Birth <sup class="text-danger">*</sup></mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="Ex. 12/30/1995" value="" #dob
                                    (dateChange)='ageFromDateOfBirth($event)' formControlName="dob" [max]="minDate" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('dob') && addTeacherDetailsForm.get('dob').touched && addTeacherDetailsForm.get('dob').invalid">
                                Please select photo</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Joining Date <sup class="text-danger">*</sup></mat-label>
                                <input matInput [matDatepicker]="jdate" placeholder="Ex. 12/30/1995" value=""
                                    formControlName="joiningDate" />
                                <mat-datepicker-toggle matSuffix [for]="jdate"></mat-datepicker-toggle>
                                <mat-datepicker #jdate></mat-datepicker>
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('joiningDate') && addTeacherDetailsForm.get('joiningDate').touched && addTeacherDetailsForm.get('joiningDate').invalid">
                                Please enter this field</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Email Id <sup class="text-danger">*</sup></mat-label>
                                <input matInput type="email" placeholder="Ex. example@abc.com" value=""
                                    formControlName="emailId" />
                                <mat-icon matSuffix color="accent">email</mat-icon>
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('emailId') && addTeacherDetailsForm.get('emailId').touched && addTeacherDetailsForm.get('emailId').invalid">
                                Please eneter valid email id</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Subject<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex.Hindi" value="" formControlName="subject" />
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('subject') && addTeacherDetailsForm.get('subject').touched && addTeacherDetailsForm.get('subject').invalid">
                                Please enter this field</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Teaching Since<sup class="text-danger">*</sup></mat-label>
                                <input matInput [matDatepicker]="tdate" placeholder="Ex. 12/30/2019" value=""
                                    formControlName="teachingSince" />
                                <mat-datepicker-toggle matSuffix [for]="tdate"></mat-datepicker-toggle>
                                <mat-datepicker #tdate></mat-datepicker>
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('teachingSince') && addTeacherDetailsForm.get('teachingSince').touched && addTeacherDetailsForm.get('teachingSince').invalid">
                                Please Select Date</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Teacher User Id<sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex.EXOWL123" value="" formControlName="teacherUserId" />
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('teacherUserId') && addTeacherDetailsForm.get('teacherUserId').touched && addTeacherDetailsForm.get('teacherUserId').invalid">
                                Please enter this field</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-6">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Qualification <sup class="text-danger">*</sup></mat-label>
                                <input matInput placeholder="Ex. MBBS, MD" value="" formControlName="qualification" />
                            </mat-form-field>
                            <p style="color: red;"
                                *ngIf="addTeacherDetailsForm.get('qualification') && addTeacherDetailsForm.get('qualification').touched && addTeacherDetailsForm.get('qualification').invalid">
                                Please enter this field</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 col-md-6 ">
                    <div class="ml-5 mt-5">
                        <div class="hex hex-1 hex-gap mt-5" title="Click Here To Upload">
                            <div class="inner">
                                <img src="../../../../../assets/imgs/man.png" alt="">
                            </div>
                            <div class="circle-img text-center ">
                                <mat-icon color="accent" class="mt-1 mr-2">camera_enhance</mat-icon>
                                <input type="file"
                                    style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%;" />
                            </div>
                            <div class="corner-1"></div>
                            <div class="corner-2"></div>

                        </div>
                    </div>
                    <p style="color: red;"
                        *ngIf="addTeacherDetailsForm.get('avatar') && addTeacherDetailsForm.get('avatar').touched && addTeacherDetailsForm.get('avatar').invalid">
                        Please enter this field</p>
                </div>
            </div>

            <div class="row d-flex justify-content-around">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Experience</mat-label>
                        <textarea matInput placeholder="Ex. Having 2 years of experience in teaching"
                            formControlName="experience"></textarea>
                    </mat-form-field>
                    <p style="color: red;"
                        *ngIf="addTeacherDetailsForm.get('experience') && addTeacherDetailsForm.get('experience').touched && addTeacherDetailsForm.get('experience').invalid">
                        Please enter this field</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-6 col-sm-12 ">
                    <mat-radio-group aria-label="Select an option" class="ml-4" color='primary'>
                        <mat-radio-button value="1">Activate</mat-radio-button>
                        <mat-radio-button value="2">Deactivate</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 text-right">
                    <button type="button" class="text-light btns" mat-raised-button color="primary"
                        (click)="routeToEditTeacher()">
                        Edit Teacher
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>