<div class="container-fluid">
    <form action="">
        <div class="row">
            <label for="pwd" class="mt-2">Dashboard Name :</label>

            <div class="col-lg-3">
                <input type="text" class="form-control border border-secondary">
            </div>
        </div>

        <div class="row d-flex justify-content-around mt-3">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="comment">Tables</label>
                    <textarea class="form-control border border-secondary" rows="5" id="comment"
                        style="height: 400px;"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="comment">Query</label>
                            <textarea class="form-control border border-secondary" rows="5" id="comment"
                                style="height: 175px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="comment">Results</label>
                            <textarea class="form-control border border-secondary" rows="5" id="comment"
                                style="height: 175px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="comment">Charts</label>
                    <textarea class="form-control border border-secondary" rows="5" id="comment"
                        style="height: 400px;"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 float=right">
            </div>
            <div class="col-lg-2 float=right">
                <button class="btn btn-secondary btn-sm">Save</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-secondary btn-sm">Download</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-secondary btn-sm">Create</button>
            </div>
        </div>
    </form>
</div>