    ul li {
        list-style: none;
    }
    
    .theme-list {
        outline: 0;
        width: 150px;
        text-align: center;
    }
    
    .person-icon {
        padding: 0px !important;
    }
    
    button {
        outline: none;
    }
    
    .header_background {
        background: -webkit-linear-gradient(top, #32AEB1 0%, #137779 100%);
        // background-color: #32AEB1;
        .fontpopup {
            color: var(--main-font-3-color);
            // color: #32AEB1;
        }
        /* For Dialog box starts*/
        .dialog-title {
            color: var(--main-bg-3-color);
        }
        .dialog-text {
            color: var(--main-bg-1-color);
        }
        /* For Dialog box ends*/
        mat-dialog-content h4 {
            color: var(--main-bg-3-color);
        }
    }
    
    .searchBar {
        border-radius: 20px;
        font-size: 12px;
    }
    
    .mat-form-field-outline {
        border-radius: 20px i !important;
    }
    
    // .mat-form-field-outline {
    //     color: green;
    // }
    // .mat-form-field-outline-thick {
    //     color: red;
    // }
    // .mat-form-field-appearance-outline {
    //     &.mat-focused {
    //         .mat-form-field-outline-thick {
    //             color: pink;
    //         }
    //         &.mat-accent .mat-form-field-outline-thick {
    //             color: pink;
    //         }
    //         &.mat-warn .mat-form-field-outline-thick {
    //             color: pink;
    //         }
    //     }
    // }